@media screen and (max-width: 1300px) {
  /* Coloured banner */
  nav {
    display: block;
    width: 90%;
    padding: 1.6rem 0 0 0rem;
    background: #fbfbf9;
    color: rgb(35, 35, 35);
    height: 17rem;
    text-align: center;
  }

  /* Coloured banner Ben Kawam */

  #ben-kawam-home a {
    color: #847e69;
    display: inline-block;
    font-size: 6rem;
    transform: translateY(0%);
    font-family: "Source Sans Pro Light";
  }

  /* Banner ul */
  nav ul {
    margin: 2rem 0 0 0;
    position: relative;
    right: 50%;
  }

  /* Banner li */
  nav li {
    margin: 0rem 0rem 0rem 2.5rem;
    list-style: none;
    position: relative;
    left: 45%;
  }

  /* Banner li anchors */
  nav li a {
    font-size: 2.3rem;
  }

  /* Conianer images and text */
  .container {
    width: 90%;
    height: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5rem;
    margin-bottom: 10rem;
    flex-direction: column;
    align-items: center;
  }

  .single-img {
    margin: 0rem 0rem 0rem 0rem;
  }

  .text-below-images {
    margin-bottom: 2rem;
  }

  #text-illustration {
    text-align: left;
  }

  #line {
    display: none;
  }

  footer {
    clear: both;
    bottom: 0px;
    margin-left: 5%;
    padding-bottom: 1%;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
  }

  /* ABOUT */

  /* Coloured banner */
  .ben-kawam-banner a {
    text-align: center;
    padding: 0rem 0 0rem 0rem;
    font-size: 6rem;
    color: #000000;
    transform: translateY(0%);
    font-family: "Source Sans Pro Light";
  }

  #rounded-ben {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    transform: translateX(-20%);
  }

  .main-about {
    margin: 10% 5% 0 5%;
  }

  /* RESEARCH */

  .research {
    width: 90%;
    margin: auto;
    margin-top: 10rem;
  }

  #research-baboon-img {
    background-image: url("img/research_images-baboons");
  }

  .research-img-large {
    display: none;
  }

  .research-img-small {
    display: inline-flex;
    width: 100%;
    margin-bottom: 5rem;
  }

  /* RESEARCH */

  .illustrations-tot {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  .container-ill {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .hr-illustrations {
    display: inline-block;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border: 0;
    height: 0.3rem;
    background-color: #dcd6ce;
    transform: translateX(0%);
    transform: translateY(-3rem);
  }

  .text-under-illustrations {
    text-align: center;
    transform: translateY(-3rem);
    margin-bottom: 4rem;
  }

  a:hover {
    color: #958f77;
    opacity: 0.9;
    transition: 0.1s;
  }
}
