/* By setting the font size as 62.5, then 
1 rem will be 10 pixels, 2 rem 20 pixels and so on.
Also we won't need media queries for screen size */

/* source-sans-pro-regular - latin */
@font-face {
  font-family: "Source Sans Pro Light";
  font-weight: 300;
  src: url("fonts/source-sans-pro-v18-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("fonts/source-sans-pro-v18-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/source-sans-pro-v18-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("fonts/source-sans-pro-v18-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("fonts/source-sans-pro-v18-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("fonts/source-sans-pro-v18-latin-regular.svg#SourceSansPro")
      format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 400;
  src: url("fonts/source-sans-pro-v18-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("fonts/source-sans-pro-v18-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/source-sans-pro-v18-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("fonts/source-sans-pro-v18-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("fonts/source-sans-pro-v18-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("fonts/source-sans-pro-v18-latin-regular.svg#SourceSansPro")
      format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Adobe Garamond Pro";
  src: url("fonts/AGaramondPro-Bold.eot");
  src: url("fonts/AGaramondPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/AGaramondPro-Bold.woff2") format("woff2"),
    url("fonts/AGaramondPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Adobe Garamond Pro";
  src: url("fonts/AGaramondPro-Italic.eot");
  src: url("fonts/AGaramondPro-Italic.eot?#iefix") format("embedded-opentype"),
    url("fonts/AGaramondPro-Italic.woff2") format("woff2"),
    url("fonts/AGaramondPro-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Adobe Garamond Pro";
  src: url("fonts/AGaramondPro-Regular.eot");
  src: url("fonts/AGaramondPro-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/AGaramondPro-Regular.woff2") format("woff2"),
    url("fonts/AGaramondPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Adobe Garamond Pro";
  src: url("fonts/AGaramondPro-BoldItalic.eot");
  src: url("fonts/AGaramondPro-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/AGaramondPro-BoldItalic.woff2") format("woff2"),
    url("fonts/AGaramondPro-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

* {
  margin: 0rem 0rem 0rem 0rem;
  box-sizing: border-box;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  font-family: "Adobe Garamond Pro";
}

html {
  font-size: 10px;
}

a:hover {
  color: #958f77;
  opacity: 0.9;
  transition: 0.1s;
}

a:hover span {
  color: #958f77;
  opacity: 0.9;
  transition: 0.1s;
}

.clear {
  clear: both;
}

.banner {
  width: 100%;
  background: #fbfbf9;
}

/* Coloured banner */
nav {
  display: block;
  width: 65%;
  margin: auto;
  padding: 1.6rem 0 0 0rem;
  background: #fbfbf9;
  color: rgb(35, 35, 35);
  height: 14rem;
}

#ben-kawam-home a {
  color: #847e69;
  display: inline-block;
  font-size: 6rem;
  transform: translateY(50%);
  font-family: "Source Sans Pro Light";
}

nav ul {
  float: right;
  list-style: none;
}

nav li {
  float: left;
  margin: 0rem 0rem 0rem 4rem;
}

nav a {
  font-size: 2.5rem;
}

.tab-target {
  color: #847e69;
}

#research {
  margin-right: 35%;
}

#about {
  margin-right: 27%;
}

#illustrations {
  margin-right: 15%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 65%;
  height: 40%;
  margin-left: 17.5%;
  margin-right: 17.5%;
  margin-top: 14rem;
  flex-flow: inherit;
}

.single-img {
  margin: 0rem 4rem 0rem 0rem;
}

.text-below-images {
  display: block;
  font-size: 2.5rem;
  box-sizing: border-box;
  margin-top: 0.5rem;
  width: 100%;
}

#text-illustration {
  text-align: center;
}

#vl-home {
  border: 0;
  width: 0.1rem;
  background-color: #dcd6ce;
}

footer {
  clear: both;
  bottom: 0px;
  margin-left: 17.5%;
  padding-bottom: 1%;
  position: fixed;
  width: 100%;
  background-color: #ffffff;
}

/* ABOUT */

.ben-kawam-banner a {
  display: inline-block;
  font-size: 6rem;
  transform: translateY(50%);
  font-family: "Source Sans Pro Light";
  font-weight: lighter;
}

.ben-kawam-tabs a {
  display: inline-block;
  font-size: 6rem;
  transform: translateY(50%);
  font-family: "Source Sans Pro";
}

.main-about {
  float: left;
  margin: -15% 45% 0 17.5%;
  font-size: 2.2rem;
}

.main-about i {
  font-size: 2.2rem;
}

.short-cv {
  margin: 6rem 0 3rem 0;
}

.short-cv li {
  list-style: none;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.title-cv {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.short-cv ul {
  padding: 0;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.dates-cv {
  display: inline-block;
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 2.5rem;
  color: #6f2741;
}

#hl-about {
  border: 0;
  height: 0.1rem;
  background-color: #dcd6ce;
}

.full-cv {
  margin-bottom: 4rem;
  margin-top: 3rem;
}

.full-cv a i {
  margin-bottom: 4rem;
  font-family: "Adobe Garamond Pro";
  color: #847e69;
  font-size: 2.2rem;
}

#rounded-ben {
  float: right;
  margin-right: 17.5%;
  transform: translateY(28%);
  width: 20%;
}

/* RESEARCH */
.research {
  width: 48%;
  margin: auto;
  margin-top: 10rem;
}

/* Titles (red) */
.research h2 {
  margin-top: 3rem;
  font-size: 3.5rem;
  font-weight: normal;
  color: #6f2741;
}

/* Substitles (grey) */
.research h3 {
  margin-bottom: 2rem;
  font-weight: normal;
  font-style: italic;
  font-size: 3rem;
  color: #555345;
}

/* Publications (text) */
.research p a {
  margin-bottom: 3rem;
  font-size: 2.2rem;
}

/* "Ben Kawam" in publication list (bold) */
.publications-name {
  font-weight: bold;
  font-size: 2.2rem;
}

/* "journal names" in publication list (bold) */
.publications-journal {
  font-style: italic;
  font-size: 2.2rem;
}

/* Lines between titles */
.title-hl {
  border: 0;
  height: 0.1rem;
  background-color: #dcd6ce;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* Projects (text) */
.research p {
  margin-bottom: 3rem;
  font-size: 2.2rem;
}

/* Double images - not displayed now */
.research-img-large {
  width: 100%;
  margin-bottom: 5rem;
  display: inline-flex;
  display: none;
}

/* Single images */
.research-img-small {
  width: 100%;
  margin-bottom: 5rem;
  display: inline-flex;
}

/* Dots separating research projects */
.separator {
  margin: auto;
  display: flex;
  width: 6rem;
  margin-top: 0rem;
  margin-bottom: 5rem;
}

/* Illustrations */

.container-ill {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  height: 30%;
  margin-left: 14%;
  margin-right: 14%;
  margin-top: 10rem;
  margin-bottom: 12rem;
  flex-flow: inherit;
}

.single-img-ill {
  margin: 0rem 6% 0rem 6%;
}

.hr-illustrations {
  width: 120%;
  border: 0;
  height: 0.1rem;
  background-color: #dcd6ce;
  margin: auto;
  transform: translateX(-7%);
}

.text-under-illustrations {
  text-align: center;
}

.text-PNG-illustrations {
  display: inline-block;
  font-family: "Source Sans Pro";
  font-weight: 600;
  margin: 10% 10%;
  color: #7d6b4f;
  font-size: 2.2rem;
}

.text-PDF-illustrations {
  display: inline-block;
  font-family: "Source Sans Pro";
  font-weight: 600;
  margin: 10% 10%;
  color: #4c0f35;
  font-size: 2.2rem;
}
